        body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f8f8;
            color: #333;
            margin: 0;
            padding: 0;
        }

        nav {
            background-color: #FFCCFF; ;
            padding: 10px;
            text-align: center;
        }

        nav a {
            text-decoration: none;
            color: white;
            font-weight: bold;
        }

        h1 {
            color: #FF3385;
            text-align: center;
            margin-top: 20px;
        }

        p {
            text-align: center;
            font-size: 18px;
        }

        form {
            max-width: 400px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }

        input,
        textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        textarea {
            height: 100px;
        }

        input[type="submit"] {
            background-color: #FF3385;
            color: #fff;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #FF3385;
        }

        hr {
            margin: 40px 0;
            border: 1px solid #ddd;
        }

        footer {
            text-align: center;
            padding: 10px;
            background-color: #FF3385;
            color: white;
        }
